/**
 * Stylesheet for flexible content elements and extensions
 *
 */

@media screen, projection
{
  .jquery_tabs {
    margin: em(21,14) 0 0 0;
    overflow:hidden;
  }

  .jquery_tabs ul {
  	overflow:hidden;
  	margin: 0;
  	padding: 0;
  }

  .jquery_tabs .tabbody {
    position: relative;
    top: -1px;
  	margin:  0 0 -1px 0;
  	padding: 0;
  	border-top: 1px #ccc solid;
  	border-bottom: 2px #eee solid;
  	clear: both;
  }

  //.jquery_tabs .tabbody * { margin:0 }

  .jquery_tabs ul.tabs-list {
    display: table;
    font-size: 1em;
    line-height: em(21,14);
    list-style-type: none;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .jquery_tabs ul.tabs-list li {
  	float: left;
  	margin: 0 0.3em 0 0;
  	list-style-type: none;
  }

  .jquery_tabs ul.tabs-list li a { padding: .2em 2em; }

  .jquery_tabs ul.tabs-list li a {
  	display: block;
  	float: left;
  	width: auto;
  	margin: 0;
  	padding: .75em;
  	font-weight: bold;
  	font-size: 1em;
  	font-weight: bold;
  }
  .yamltabsanchor{
      position:absolute;
      left:-999em;
  }
  .jquery_tabs ul li a:focus,
  .jquery_tabs ul li a:hover,
  .jquery_tabs ul li a:active { background: #fff; font-weight: bold; color: #666; text-decoration: none; border-bottom: 0px #eee solid; }

  .jquery_tabs ul li.current a,
  .jquery_tabs ul li.current a:focus,
  .jquery_tabs ul li.current a:hover,
  .jquery_tabs ul li.current a:active {
  	color: #ff0000;
  	text-decoration: none;
  	font-weight: bold;
  	background: #f2f2f2;
  	border: 1px solid #ccc;
  	border-bottom: 0 none;
  	@include border-radius(.2em .2em 0 0);
  	outline: 0 none;
  }
}

.js .jquery_tabs .current-info,
.js .jquery_tabs .accessibletabsanchor,
.js .jquery_tabs .tabhead /*position each individual tab's heading (default class .tabhead) off-screen*/ {
    position:absolute;
    left:-999em;
}