/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * default print stylesheet
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         v4.0
 * @revision        $Revision: 686 $
 * @lastmodified    $Date: 2012-01-22 13:09:37 +0100 (So, 22 Jan 2012) $
 */


@media print {

	/**
	* @section basic layout preparation
	*/

	/* (en) change font size unit to [pt] - avoids problems with [px] in Gecko based browsers  	*/
	/* (de) Wechsel der der Schriftgrößen-Maßheinheit zu [pt] - Probleme mit [px] in Gecko-Browsern vermeiden */
	body {
	  padding: 0 5px;
	  margin: 1cm 3cm 1cm 2cm;
	  font-size:10pt;
	}

	/* (en) Hide unneeded container of the screenlayout in print layout */
	/* (de) Für den Druck nicht benötigte Container des Layouts abschalten */
	nav,
	.ym-searchform {
		display:none;
	}

	/*------------------------------------------------------------------------------------------------------*/

	/* (en) Avoid page breaks right after headings */
	/* (de) Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
	h1,h2,h3,h4,h5,h6 {
		page-break-after:avoid;
	}

	/*------------------------------------------------------------------------------------------------------*/

	/* (en) optional output of acronyms and abbreviations*/
	/* (de) optionale Ausgabe von Auszeichnung von Abkürzungen */

	/*
	abbr[title]:after,
	acronym[title]:after {
		content:'(' attr(title) ')';
	}
	*/

	/*------------------------------------------------------------------------------------------------------*/

	/* (en) optional URL output of hyperlinks in print layout */
	/* (de) optionale Ausgabe der URLs von Hyperlinks */
	/*
	a[href]:after {
		content:" <URL:"attr(href)">";
		color:#444;
		background:inherit;
		font-style:italic;
	}
	*/
	
	#header { display: none; }
  
  p img {
    border: 5px #ccc solid;
    @include box-shadow(none);
  }

  #main { margin-bottom: .5cm; }

  #footer {
    padding-top: .3cm;
    border-top: 1pt #ccc solid;
    font-size: 8pt;
  }
  
  .crypt { display: none; }
}
