/**
 * typo3boilerplate stylesheet for responsive design
 *
 * @creator         Michael Schulze <m.schulze@elsigno.de>
 * @copyright       Copyright 2011, Michael Schulze
 * @license         GNU GPL
 * @link            http://www.typo3boilerplate.com
 * @package         typo3boilerplate
 * @version         1.0
 * @lastmodified    $Date:2011-08-21 20:00:00 +0200 (So, 21. Aug 2011) $
 */

/* activate max-width of media elements for browsers that support media queries */
@media only screen and (min-width: 10px) {
  img
  ,embed
  ,object
  ,video {
    max-width: 100%;
  }
  
  .ym-wrapper {
    width: auto;
    max-width: 80em;
    min-width: 320px;
  }
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 520px) {

}
   
@media only screen and (max-width: 480px) {

}

/**
 * Device width
 *
 */
@media only screen and (max-device-width: 768px) {
  body { -webkit-text-size-adjust: 100%; }
}

@media only screen and (max-device-width: 480px) {

}

/* for devices with retina display */
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body { font-size: 100%; }
}