/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * default screen stylesheet - FULLPAGE-layout type layout
 *
 * @copyright       Copyright 2005-2012, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         4.0
 * @revision        $Revision: 686 $
 * @lastmodified    $Date: 2012-01-22 13:09:37 +0100 (So, 22 Jan 2012) $
 */

@media screen, projection
{

  /* force vertical scrollbar */
  body { overflow-y:scroll; }

  /* Body background */
  body {
    background: #fff;
    //background: #f2f2f2 image-url("100-50-5.png") repeat left top;
  }
  
  /* Layout Module Configuration */
  .ym-wrapper { width: 960px; margin: 0 auto; }
  .ym-wbox { padding: 20px; }

  /* fallback for media queries */

  /* Basic Element Styling */
  #header { margin: 0 0 2em; }
  #topnav {  }

  #main { margin: 0 0 2em; }

  #footer {
    padding: 1em 0 0;
    border-top: 1px $c-text solid;
  }
  
  #main > .ym-grid > div > .ym-gbox { padding: 0 20px; }
  #main > .ym-grid > div > .ym-gbox-left { padding: 0 20px 0 0; }
  #main > .ym-grid > div > .ym-gbox-right { padding: 0 0 0 20px; }

  /* Column-Set Configuration: 1-3 (sidebar left) */
  .ym-col1 {  }
  .ym-col1 .ym-cbox {  }

  .ym-col2 {  }
  .ym-col2 .ym-cbox {  }

  .ym-col3 {  }
  .ym-col3 .ym-cbox {  }
  
  
  /* Skiplinks */
  #skiplinks { height: 24px; width: #222; }

  #skiplinks a.skip:focus,
  #skiplinks a.skip:active { 
  	color:#fff; 
  	background:#333; 
  	border-bottom:1px #000 solid;
  	padding:10px 0;
  	text-decoration:none;
  }  
}