/**
 * Main import stylesheet based on "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 *
 * @creator         Michael Schulze <m.schulze@elsigno.de>
 * @copyright       Copyright 2011, Michael Schulze
 * @license         all rights reserved, no usage without written permission
 * @file            style.scss
 * @version         1.0
 * @package         yaml, sass
 * @-yaml-minver    3.3
 *
 */

//@import "all"; /* standard mixins for css3 vendor prefixes */
@import "compass/css3";

/* import core styles | Basis-Stylesheets einbinden */
//@import url(yaml/core/slim_base.css);
@import "yaml";

/* import fonts */
@import "fonts";
//@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700|Droid+Sans:700);

/* colors */
$c-bodybg: #ffffff;
$c-white: #ffffff;
$c-lila: #5e0952;
$c-beige: #97874b;

$c-text: #222;
$c-text-link: #4D87C7;
$c-text-link-hover: #4D87C7;
$c-text-link-focus: #4D87C7;
$c-text-link-visited: #4D87C7;
$c-crypt: #ffffff; /* same as background color because that's the color of the additional dots in email addresses for spam protection (see setup.ts -> config) */

/* font size - medium */
$font-size-body-px: 14;
$line-height-px: 21;


@mixin font-size($px, $standard: $font-size-body-px) {
  font-size: $px / $standard * 100%;
}

@mixin refont($px) {
  $font-size-body-px: $px;
  $font-size-body: $font-size-body-px / 16 * 100%;
  body { font-size: $font-size-body; }
}

/**
 * Calculates em so it could be used everywhere.
 *
 * @param integer font size in pixel
 * @param integer in pixel
 * @return string em
 */
@function em($px: $line-height-px, $font-size: $font-size-body-px) {
  @return $px / $font-size * 1em;
}

/**
 * Prints the line-height as stylesheet-attribute in em like
 * line-height: 1.5em;
 *
 * @param integer font size in pixel
 * @param integer line-height in pixel
 * @return string line height
 */
@mixin line-height($line-height: $line-height-px, $font-size: $font-size-body-px) {
  line-height: em($line-height, $font-size);
}

/* calculate font-size (as %) and line-height (as em) */
$font-size-body: $font-size-body-px / 16 * 100%;
$line-height: em($line-height-px, $font-size-body-px);

/* import screen layout | Screen-Layout einbinden */
@import "nav";
@import "screen";
@import "typography";
@import "fce";
@import "responsive";
@import "snippet";
@import "print";